{% extends "user_base.html" %}

{% block content %}
{% if team_list %}
<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
    {% for player in team_list %}
        <tr>
          <td>{{ player.player_number }}</td>
          <td><a href="/teams/{{ player.team_id }}/roster/player/{{ player.id }}/">{{ player.player_name }}</a></td>
          <td>{{ player.email }}</td>
          <td>{{ player.player_position }}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>No Players are available.</p>
{% endif %}
{% endblock %}