{% extends "user_base.html" %}

{% block content %}
<!-- Button trigger modal -->
<style>
#dash{
max-width: 960px;
padding: 15px;
margin: 0 auto;
}
</style>
<h1>{{team.team_name}}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Upcoming Events</th>
    </tr>
  </thead>
  <tbody>
    {% if event_list %}
      {% for event in event_list %}
          <tr>
            <td>{{ event.event_name }}</td>
            <td>{{ event.event_date }}</td>
            <td>{{ event.event_location }}</td>
          </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td>No upcoming events available</td>
      </tr>
    {% endif %}
  </tbody>
</table>

<hr/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Recent Activity</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

</div>

{% endblock %}